@import "settings/_all";
@import "settings/_reset.css";
@import "settings/_mixins";
@import "elements/_all";

* {
  margin: 0;
  padding: 0;
}

.conteiner {
  max-width: 1352px;
  margin: 0 auto;
  width: 100%;
  @include phone {

  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: $background-color 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px $header-shadow;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;

  .top {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    @include phone {
      justify-content: space-around;

    }
  }

}

.elements {
  display: flex;
  flex-direction: row;
  @include phone {
    display: none;
    flex-direction: column;
    width: auto;
    height: 4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    background-color: $background-color;
    text-transform: uppercase;
    font-weight: bold;
    color: $second-text-color;


  }
}

.menu-btn {
  display: none;
  @include phone {
    &:checked ~ .elements {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &:checked ~ .menu-btn{
      position: relative;
      top: 3em;
    }
  }

}

.menuelements {
  @include phone {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.menu {
  @include desctop {
    display: flex;
    color: $second-text-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    padding: 1.75em 2.96875em 1.375em;
    border-bottom: solid 4px transparent;
  }
  @include phone {
    content: "";
    background-color: $background-color;

    padding: 1em;
  }
}

.left-text {
  color: $third-text-color;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;

  @include phone {
    padding: 0.5em;

  }
}

.icons {
  cursor: pointer;
  background-color: $bnt-text-color;
  color: $bnt1-background-color;
  border-radius: 0.5em;
  @include desctop {
    display: none;
  }
}

.menu:hover {
  color: $text-color;
  border-color: $hover-border-color;
}

/*main*/


.main {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mainitems {
  @include phone {
    font-size: 0.7em;
    width: auto;

  }

  .h1main {
    font-size: 3.0625em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 1.25em;
  }

  .pmain {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: $text-color;
    text-align: center;

  }

  .bnt1 {
    display: flex;
    width: 27.5em;
    height: 67px;
    border-radius: 40px;
    background-color: $bnt1-background-color;
    color: $bnt-text-color;
    text-decoration: none;
    text-align: center;
    margin: 3em;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 14px $shadow;
    @include phone {
      width: auto;
    }

  }
}

.background {
  width: 100%;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/Background.png");
  margin-bottom: 6em;

}

/*Stats*/
.stats {
  padding-bottom: 5em;
}

.circle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.red {
  background-color: $element-color-1;
}

.blue {
  background-color: $element-color-2;
}

.green {
  background-color: $element-color-3;
}

.hstats {
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.h1stats {
  font-size: 2em;
  margin-bottom: 1em;
}

.h2stats {
  font-size: 1.5em;
  font-weight: bolder;
  @include phone {
    margin: 0.5em;
  }
}

.pstats {
  font-family: 'Raleway', sans-serif;
  color: $second-text-color;
  font-size: 1em;
  text-align: center;
  @include phone {
    margin: 0.5em;
  }
}

.stats1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  @include phone {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include phone {
    margin: 0.5em;
  }
}

.png {
  position: relative;
}

.png1 {
  left: 50%;
  top: 10%;
}

.png2 {
  left: 30%;
  top: 25%;
}

.png3 {
  left: 50%;
  top: 10%;
}

/*benefity*/

.benefits {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: $benefits-background-color;
  align-items: center;
  justify-content: space-between;
  padding-top: 6.5625em;
  @include phone {
    padding: 0;

  }
}

.box {
  font-family: 'Raleway', sans-serif;
  display: flex;
  background: $background-color;
  border: 1px solid $box-border-color;
  border-radius: 5px;
  align-items: center;
  height: 23.125em;
  width: auto;
  margin-bottom: 2em;
  flex-direction: row-reverse;
  justify-content: space-between;
  @include phone {
    height: 43em;
    width: 98%;
    margin-top: 2.625em;
    margin-bottom: 0;

  }
}

.line {
  position: relative;
  left: 1.2em;
  height: 0.25em;
  width: 25em;
  @include phone {
    display: none;
  }
}

.line1 {
  background-color: $element-color-1;
}

.line2 {
  background-color: $element-color-2;
}

.line3 {
  background-color: $element-color-3;
}


.box1 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include phone {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .box1text {
    display: flex;
    width: 26em;
    height: auto;
    flex-direction: column;
    margin-right: 6em;
    justify-content: center;
    align-items: flex-start;
    @include phone {
      width: 25em;
      margin: 0;
      align-items: center;
    }
  }

  .rightside1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13em;
    width: auto;
    height: auto;
    @include phone {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .macbook {
      position: relative;
      top: 30%;
      right: 20%;
      width: 24em;
      height: auto;
      z-index: 2;
      @include phone {

        position: relative;
        top: 9em;
        right: 5%;
      }
    }

    .element1 {
      width: 13em;
      height: 13em;
      background-color: $element-color-1;
      transform: rotate(45deg);
      border-radius: 40px;
      position: relative;
      bottom: 30%;

      @include phone {
        position: relative;
        bottom: 6em;
        left: 15%;
      }
    }
  }
}

.h2box {
  font-size: 3em;
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin-left: 0.5em;
  margin-bottom: 0.7em;


  @include phone {
    display: flex;
    justify-content: center;
    text-justify: auto;
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 2em;
    margin-left: 0;
  }
}

.pbox {
  font-size: 1.5em;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  @include phone {
    margin: 1em;
    padding-bottom: 1em;
    position: relative;
    bottom: 1em;
    text-align: center;
  }
}


/* second */


.box2 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include phone {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .box2text {
    display: flex;
    width: 26em;
    height: auto;
    flex-direction: column;
    margin-left: 6em;
    justify-content: center;
    align-items: flex-start;
    @include phone {
      width: 25em;
      margin: 0;
      align-items: center;
    }
  }

  .rightside2 {
    margin-right: 13em;
    width: auto;
    height: auto;
    @include phone {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .phone {
      position: relative;
      top: 8em;
      left: 5em;
      width: 24em;
      height: auto;
      z-index: 2;
      @include phone {
        position: relative;
        top: 8em;
        left: 1em;

      }
    }

    .element2 {
      width: 17em;
      height: 17em;
      background-color: $element-color-2;
      transform: rotate(45deg);
      border-radius: 50%;
      position: relative;
      left: 20%;
      bottom: 10em;
      @include phone {
        position: relative;
        left: -1em;
        bottom: 10em;
      }
    }
  }
}

.h2 {
  text-align: left;
  margin-right: 0.5em;
  margin-top: 0.7em;
  margin-bottom: 0;

  @include phone {
    text-align: center;
    display: flex;
    justify-content: start;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    bottom: 2em;
    word-break: break-all;

  }
}

.p2 {
  font-size: 1.5em;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  @include phone {
    margin: 1em;
    padding-bottom: 1em;
    position: relative;
    bottom: 3em;
    text-align: center;
  }
}


/* third*/

.third {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 7em;
  @include phone {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: auto;
    margin-bottom: 0;
  }

  .box3 {
    display: flex;
    align-items: center;
    background-color: $background-color;
    border: 1px solid $box-border-color;
    border-radius: 5px;
    width: 50%;
    height: 23.125em;
    margin-right: 6em;
    @include phone {
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      margin-top: 2.625em;
      margin-right: 0;
    }

    .box3text {
      margin-top: 4em;
      @include phone {
        margin-top: 3em;
      }
    }
  }

  .trumpet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.5em;
    height: 23.125em;
    border-radius: 5px;
    background-color: $element-color-3;
    border: 1px solid $box-border-color;
    @include phone {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-bottom: 2.625em;
      height: 70%;
    }
  }
}


/*cennik*/
.payments {
  width: auto;
  padding-top: 3.125em;
  margin-bottom: 2em;

  @include phone {
    padding: 0;
    width: auto;
    height: auto;
    margin-top: 1em;

  }

  .h2payments {
    font-size: 2.5em;
    color: $text-color;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

  .pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include phone {
      display: flex;
      flex-direction: column;
    }

  }

  .pricing_box {
    position: relative;
    width: 23.125em;
    height: 28.813em;
    border-radius: 1.125em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1.25em;


    @include phone {
      width: auto;
      height: 15.688em;
      display: flex;
      flex-direction: column;
      margin: 1em;
      padding: 0.5em;
      justify-content: flex-end;
      align-items: center;
    }
  }

}

.row1 {
  @include phone {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
}

.row2 {
  @include phone {
    display: flex;
    align-items: flex-end;
  }
}

.pricing_box-basic {
  border: 1px solid $element-color-1;
}

.pricing_box:nth-child(2) {
  border: 1px solid $element-color-2;
  box-shadow: 5px 10px 27px $shadow;
  width: 26em;
  height: 31.125em;
  @include phone {
    width: auto;
    height: 17em;;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pricing_box-premium {
  border: 1px solid $element-color-3;
}

.pricing_details {
  width: auto;
  margin-top: 2.125em;
  margin-bottom: 2em;
  text-align: center;
  @include phone {
    margin-right: 2em;
  }
}

.pricing_type {
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.pricing_price {
  font-size: 2.875rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0.5em;
  color: $element-color-1;
}

.pricing_box-basic .pricing_price {
  color: $element-color-1;
}

.pricing_box-professional .pricing_price {
  color: $element-color-2;
}

.pricing_box-premium .pricing_price {
  color: $element-color-3;
}

.pricing_limited {
  text-align: center;
  margin-top: 1em;
  font-size: 0.75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.pricing_items {
  text-align: center;
  width: auto;
  @include phone {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

  }
}

.pricing_item {
  font-size: 14px;
  margin-bottom: 1.25em;
  @include phone {
    display: flex;
    justify-content: flex-start;
  }
}

.pricing_item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Ckechmark-1.svg");
}

.pricing_item-not::before {
  background-image: url("../assets/Close.svg");
}

.btn3.red {
  background-color: $element-color-1;
}

.btn3.blue {
  background-color: $element-color-2;
  @include phone {
    top: 120%;
  }
}

.btn3.green {
  background-color: $element-color-3;
}

.btn3 {
  position: relative;
  display: flex;
  width: 12em;
  height: 3.5em;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: $bnt-text-color;
  text-decoration: none;
  border-radius: 25px;
  font-size: 0.8125rem;
  top: 50%;
  @include phone {
    position: relative;
    top: 70%;

  }
}


/*contact*/
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;

}

.contactposition {
  @include phone {
    display: flex;
    flex-direction: column;
  }

}


.contact_column {
  width: 50%;

}

.h2contact {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
  font-family: 'Raleway', sans-serif;
  @include phone {
    text-align: left;
    font-size: 3rem;
  }
}

.pcontact {
  margin: 1.375em 0 2.625em;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: 'Open Sans', sans-serif;
  @include phone {
    text-align: left;
  }
}

.contactdetails {
  display: flex;
  color: $second-text-color;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  @include phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 3em;
  }
}

.details_item {
  color: $second-text-color;
  font-weight: 500;
  text-decoration: none;
  @include phone {
    padding-top: 1em;
  }
}

.details_item:first-of-type {
  margin-right: 1.2em;
}

.details_item img {
  margin-right: 0.6em;
}

.from {
  display: flex;
  flex-direction: column;
}

.buttonbnt2 {
  @include phone {
    display: flex;
    justify-content: flex-end;
  }
}


.from_filed {
  display: flex;
  flex-direction: column;

}

.from_filed:first-of-type {
  margin-bottom: 2.625em;
}

.form_label {
  font-weight: bold;
  text-transform: uppercase;
  color: $third-text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6875rem;
}

.form_input {
  border: none;
  border-bottom: 1px solid $form-border;;
  background-color: transparent;
  line-height: 2.625rem;
  @include phone {
    padding-top: 2.5em;
  }
}

.form_consent {
  margin-top: 1.875em;

}

.consent_text {
  color: $consent-text-color;
  font-size: 0.6em;
  font-family: 'Raleway', sans-serif;
}

.form_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form_checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: $background-color;
  border: 1px solid $form-border;
  border-radius: 4px;
}

.btn2 {
  background: $bnt2-background-color 0 0 no-repeat padding-box;
  box-shadow: 5px 10px 14px $shadow;
  border-radius: 35px;
  width: 14.125em;
  height: 3.5625em;
  border: none;
  color: $bnt-text-color;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2em;

}


.contactposition {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*footer*/

.footer1 {
  display: flex;
  width: auto;
  height: 5.5625em;
  background: $footer-background-color 0 0 no-repeat padding-box;
  box-shadow: 0 -5px 40px $header-shadow;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;

}

.left-text.down {
  @include phone {
    margin-left: 0;
  }
}


.left-footer {
  @include phone {
    padding: 1em;

  }

}

.right-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include phone {
    padding: 1em;
  }

}

.social {
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  padding: 0.6em;
}

.twitter {
  background-image: url("../assets/Twitter.svg");
}

.facebook {
  background-image: url("../assets/Facebook.svg");
}

.copy {
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
  color: $copy-text-color;
  font-size: 0.7em;
  text-align: left;
}
