$background-color: #FFFFFF;
$benefits-background-color:#F7F7F7;
$bnt1-background-color:#08A6E4;
$bnt2-background-color:#08A6E4;
$footer-background-color:#F7F7F7;


$element-color-1:#FB3B64;
$element-color-2:#07ACE6;
$element-color-3:#55DFB4;



$hover-border-color:#08A6E4;
$box-border-color:#E8E9ED;
$form-border:#A5A5A5;




$color-grey:#A5A5A5;
$color-redish:#FB3B64;
$color-light-grey:#A5A5A5;
$color-primary:#08A6E4;
$color-green:#55DFB4;



$bnt-text-color:#FFFFFF;
$text-color:#000000;
$second-text-color:#A5A5A5;
$third-text-color:#08A6E4;
$consent-text-color:#707070;
$copy-text-color:#A5A5A5;
$text-color-white:#FFFFFF;




$header-shadow:#00000029;
$shadow:#07ACE629;

